@charset "utf-8";

html {
   font-size: 100%;
   font-family:  Calibri;
   background-color: rgba(228, 15, 79, 0.267);
   font-size: 30px;
 
}

 body { 
	margin: 0;
	font-size: 1.2em;
	line-height: 1.5em;
	color: rgba(158, 32, 70, 0.945);
}

 h1 {
	  text-align: center;      
   	color: rgb(219, 54, 103);
	
}
 h2 {
    text-align: center;
    font-size: 25px;
    color: rgba(219, 54, 104, 0.651);
    
}

p {
  font-size: 20px;
}
 footer {

    color: rgba(92, 17, 39, 0.767);
 
}

.html5{

  border: solid;
  border-color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  background-color: blue;
  color: black;
 }

.html5:hover {
  background-color: white;
  color: gray;
}


.css{
  border: solid;
  border-color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  background-color: yellow;
  color: black;
	
}

.css:hover {
  background-color: gray;
  color: white;
}